[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/ghillert/hugo-future-imperfect-slim.git
                        branch = fix-seo
[submodule "Submod"]
	url = https://github.com/ghillert/hugo-future-imperfect-slim.git
	branch = fix-seo
